<div class="column is-fullwidth">
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <span class="icon">
                  <%= link_to "https://twitter.com" do %>
                  <i class="fab fa-twitter"></i>
                  <% end %>
                </span> &emsp;
                <span class="icon">
                  <%= link_to "https://facebook.com" do %>
                  <i class="fab fa-facebook"></i>
                  <% end %>
                </span>
              </div>
            </div>
            <div class="level-right">
              <small class="level-item" style="color: var(--textLight)">
                &copy; Listavin
              </small>
            </div>
          </nav>
</div>