<% if flash[:notice] %>
    <div class="index-notice notification is-link">
      <%= flash[:notice] %>
    </div>
  <% end %>
  
  
<% if flash[:alert] %>
    <div class="index-notice notification is-danger">
      <%= flash[:alert] %>
    </div>
<% end %>