<nav class="navbar is-light">

			<div class="navbar-brand">
        <div class="navbar-item" href="https://google.com">
          <%= image_tag 'logo.png' %>
          listavin
        </div>
      </div>
    
			<div id="navbarMenu" class="navbar-menu">
				<div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
      

                <%= link_to  wines_index_path,data: { confirm: "保存しなくてもしてよろしいですか？", commit: "保存しない", cancel: "やめる", title: "ご確認ください" } , class: "navbar-item  button is-primary button-side" do %>
                  <span class="is-size-4 home-icon "><i class="fas fa-house-user"></i></span>
                <% end %>

                <div class="navbar-item has-text-dark">店舗名：<%= @shop_name %></div>
            </div>
          </div>     
				</div>
			</div>

</nav>