<nav class="navbar is-light">
		<div class="container">
			<div class="navbar-brand">
      <a class="navbar-item" href="https://google.com">
        <%= image_tag 'logo.png' %>
        listavin
      </a>
    </div>
			<div id="navbarMenu" class="navbar-menu">
				<div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
      
                <div class = "button navbar-item button-side is-primary ">
                    <%= link_to  wines_index_path, class: "navbar-item is-size-4 is-primary button-side" do %>
                      <i class="fas fa-house-user"></i>
                    <% end %>
                </div>

                <div class="navbar-item has-text-dark">店舗名：<%= @shop_name %></div>
            </div>
          </div>     
				</div>
			</div>

		</div>
</nav>