// Place all the styles related to the wines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
a {
  text-decoration: none;
}


th {
  color: #363636
}

td a:link, a:visited {
  color: #363636
}

th a:link ,a:visited {
  color: #363636
}

.button a:link,  .button a:visited  {
  color: rgba(255,255,255,.75);
}

.login-hero-body {
  margin: 0 auto;
 
}

.home-icon {
  padding: 0 20px;
}
.hero {
  background: rgb(247, 247, 247);
}

.login {
  box-shadow: 2px 2px 2px 6px rgba(0,0,0,0.22)
}

.listavin-color {
  background-color: #fffdf5;
}

.top-message {
  margin-bottom: 20px;
}

.message-bottom {
  margin-bottom: 10px;
}

.index-notice {
  margin-top: 53px;
}

.wineform {
  width: 100%;
  height: 100%;
  padding: 30px;
}

.state {
  margin-right: 150px;
}
// .leftform {
//   width: 50%;
// }

// .rightform {
//   width: 50%;
// }

.savebutton {
  position: fixed;
  bottom: 0;
  width: 100%;
}



.wine-pagination {
  position: fixed;
  bottom: 10px;
  width: 100%;
}

.app_checkbox {
  display: none;
}
.app_checkbox {
  color:rgb(247, 247, 247);
  display: inline-block;
  width: 30px;
  height: 30px;
}

.wine-search {
  padding-top: 80px;
  padding-bottom: 20px;
}

.wine-search-submit {
  text-align: center;
}

.search-button {
  height: 80px;
  width: 30vw;
}

.contact {
  width: 80%;
  margin: auto;
}

.winebox {
    border-radius: 6px;
    box-shadow: 2px 2px 2px 6px rgba(0,0,0,0.22);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}

.show-vintage {
  padding: 10px 0 ;
}

.show-page {
  margin-top : 10px;
}

.wine-list {
  background-color: #fffdf5;
}

.wines-container {
  display: grid;
  padding-top: 20px;
  width: 100%;
  height: 100%;
  background-color: #fffdf5;
  grid-template-columns:  auto auto;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: 
  "wine wine"
  "wine wine"
  ;
}


.wine-container {
  width: 100%;
  height: 100%;
  background-color: #fffdf5;
  grid-area: wine;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 5px;
  grid-auto-flow: column;
}

.winelist-wine {
  padding-top: 5px;
  margin-left: 50px;
  margin-right: 40px;
  background-color: #fffdf5;
  height: 200px;
  width: 550px;
  position: relative;
}

.winelist-wine :last-child {
  margin-left: auto;
}

.winelist-winenames {
  display: flex;
  position: relative;
}


.winelist-winename {
font-family: 'Lexend', sans-serif;
font-weight: normal;
font-size: 15px;
line-height: 21px;
text-align: left;
color: #1a1311;
position: absolute;
top: 10px;
display: flex;
}


.winelist-winename-kana {
font-family: 'Kiwi Maru', serif;
font-weight: normal;
font-size: 11px;
line-height: 10px;
text-align: left;
color: #1a1311;
margin-left: 16px;
display: flex;

}


.winelist-winarynames{
  position: relative;
  position: absolute;
  top: 35px;
}



.winelist-winaryname-kana {
font-family: 'Kiwi Maru', serif;
font-weight: normal;
font-size: 9px;
line-height: 11px;
text-align: left;
color: #1a1311;
margin-left: 11px;
position: absolute;
bottom: 20px;


}



.winelist-winaryname {
font-family: 'Lexend', sans-serif;
font-weight: normal;
font-size: 15px;
line-height: 21px;
text-align: left;
color: #1a1311;

}



.winelist-winearea {
  display: flex;
  position: absolute;
  top: 36px;
  left:14px;
}

.winelist-winestate {
font-family: 'Hind', sans-serif;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: left;
color: #1a1311;

}

.winelist-winegrapes {
font-family: 'Quicksand', sans-serif;
font-weight: normal;
font-size: 14px;
line-height: 16px;
text-align: left;
color: #1a1311;
position: absolute;
top: 58px;
left: 27px;


}

.winelist-winecountry {
font-family: 'Hind', sans-serif;
font-weight: bold;
font-size: 14px;
line-height: 19px;
text-align: left;
color: #1a1311;
margin-left: 6px;
padding-right: 5px;

}

.winelist-wineprice {
font-family: 'PT Sans', sans-serif;
font-weight: normal;
font-size: 15px;
line-height: 21px;
text-align: right;
color: #1a1311;
margin-right: 5px;


}

.winelist-comment {
  /* font-family: "Hannari"; */
font-family: 'New Tegomin', serif;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: left;
color: #1a1311;
position: absolute;
top: 85px;
margin-left: 10px;
margin-right: 5px;

}

// font

.button-side {
  margin: 0 5px;
}

.lexend {
  font-family: 'Lexend', sans-serif;
}

.kiwi-maru {
  font-family: 'Kiwi Maru', serif;
}

.hind {
  font-family: 'Hind', sans-serif;
}

.quicksand {
  font-family: 'Quicksand', sans-serif;
}

.pt-sans {
  font-family: 'PT Sans', sans-serif;
}

.new-tegomin {
  font-family: 'New Tegomin', serif;
}

.notosans { font-family: "Noto Sans JP"; }

.sawarabi { font-family: "Sawarabi Gothic"; }

.hannari { font-family: "Hannari"; }