<section class="hero is-fullheight is-default is-bold">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <img src="../images/bulma.png" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <div class="tabs is-right">
                                <ul>
                                    <li class="is-active"><a>Home</a></li>
                                    <li><a href="">Examples</a></li>
                                    <li><a href="">Features</a></li>
                                    <li><a href="">Team</a></li>
                                    <li><a href="">Help</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container ">
                <div class="columns is-vcentered">
                    <div class="column is-4">
                        <%# <figure class="image is-4by3"> %>
                            <%# <img src="https://picsum.photos/800/600/?random" alt="Description"> %>
                            <video autoplay muted playsinline width="600px" height="800px">
                              <source src="https://i.gyazo.com/1c1bbb22f84ecd6b4bc09b6472049e00.mp4" alt="Description">> 
                            </video> 

                            <%# <%= image_tag 'logoLr.png' %>
                        <%# </figure> %>
                    </div>
                    <div class="column is-5 is-offset-2">
                        <h1 class="title is-2 has-text-centered">
                            Superhero Scaffolding
                        </h1>
                        <h2 class="subtitle is-4">
                            Let this cover page describe a product or service.
                        </h2>
                        <br>
                        <p class="has-text-centered">
                            <a class="button is-medium is-info is-outlined">
                                Learn more
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-foot">
            <div class="container">
                <div class="tabs is-centered">
                    <ul>
                        <li><a>And this is the bottom</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <script>
    // The following code is based off a toggle menu by @Bradcomp
// source: https://gist.github.com/Bradcomp/a9ef2ef322a8e8017443b626208999c1
(function() {
    var burger = document.querySelector('.burger');
    var menu = document.querySelector('#'+burger.dataset.target);
    burger.addEventListener('click', function() {
        burger.classList.toggle('is-active');
        menu.classList.toggle('is-active');
    });
})();
    </script>