
<div class="wine-list">
    <%= render 'wines/winelist/winelist_navbar' %>
    <div class= "wines-container container">
        <div class= "wine-container">
          <% @wines.each do |wine| %>
            <%= render 'wines/winelist/winelist_content', wine: wine %>
          <% end %>
        </div>
    </div>
</div>
